
/* Footer */
  footer {
    margin-top: 60px;
    padding-top: 54px;
    padding-bottom: 20px;
    background: $footer-bcg-color;
    background: linear-gradient(rgba(248, 250, 253, 0 ) 0%, rgb(248, 250, 253) 413px);
    color: rgb(234, 234, 234);
    width: 100%;
    position: relative;
  }
  footer a{
    text-decoration: none;
    padding: 0 10px;
    color: $menu-txt-color;
  }
  footer .footer-container{
    width: 1240px;
    margin: 0 auto;
  }
  body.dark-mode   footer a {
    color: $drk-menu-txt-color;
  }
  body.dark-mode footer{
    background: $drk-footer-bcg-color;
  
  }
  footer .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  footer figure{
    width: 350px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
  }

  .site-info, .about-us{
    margin-bottom: 40px;
  }
  footer h4{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .site-info-links{
    padding: 0 0 20px 0;
    margin-right: 10px;
  }
  .site-info-links a{
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .site-info-links a:hover{
    text-decoration: underline;
    transition: 3s;
  }
  
  .about-us {
    display: flex;
    justify-content: space-between;
  }
  .about-us figcaption {
    font-size: 28px;
  }
  .about-content{
    margin-bottom: 20px;
    max-width: 440px;
  }
  .follow-us.links img{
    width: 44px;
  }
  
  
  
  
@media only screen and (max-width: 641px) { 
  footer .footer-container{
    width: 100%;
  }
  footer{
    padding: 0 15px;
  }
  .footer-logo {
    width: 100%;
  }
  .about-us{
    flex-direction: column;
  }
  footer .footer{
    flex-direction: column-reverse;
  }
  .about-content {
    width: auto;
  }
  .copy{
    margin-bottom: 10px;
    font-size: 14px;
  }
  .footer-links{
    margin-bottom: 30px;
  }
  footer figure{
    margin-bottom: 20px;
   }
  nav.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: none;
  }
  footer .footer a {
    padding: 8px 18px;
  }
}