
.global-wrapper{
    padding: 10px 0;
    width: 100%;
    border: 1px solid rgb(239, 242, 245);
    border-color: $brdr-color;
 
}
body.dark-mode .global-wrapper{
  border-color: $drk-brdr-color;
}
.global-data{
  margin: 0 auto;
  padding: 0 14px;
  width: 1240px;
  display: flex;
  justify-content: space-between;
}

.metric .label{
  margin-right: 10px;
  color: rgb(88, 102, 126)
}
.metric .result {
  color: #3861fb;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
