/* News Feed */

.crypto-news{
    // display: flex;
    // justify-content: space-between;
    width: 100%;
  
  }
  .crypto-news a{
    text-decoration: none;
    color: $menu-txt-color;
  }
  body.dark-mode  .crypto-news a{
    color: $drk-menu-txt-color;
  }

  .news-item{
    max-width: 260px;
    padding: 5px;
    background: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px);
    border-radius: 10px;
  }
  body.dark-mode .news-item{
    background: none;
  }
  .news-item .img {
     overflow: hidden;
      border-radius: 10px;
  }
  .news-item img {
    width: 100%;
    min-height: 167px;
    margin: -20px 0;
  }
  .news-item h2 {
    padding: 15px 2px 0 4px;
    font-size: 0.9em;
    text-align: justify;
  }
  
  .main .crypto-news p,
  .main .crypto-news .date{
    display: none;
  }

  
/* News Page */
.news .crypto-news{
  flex-direction: column;
  width: 100%;

}

.news-feed a, .news-feed a *{
  text-decoration: none;
}
.news .news-item{
  max-width: 100%;
  display: flex;
  margin: 20px 0;
}
.news .news-item figure{
  display: block;
  width: 300px;
  min-height: 160px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} 
.news .news-item img {
  width: 300px;
  max-height: 200px;
  border-radius: 5px;
  margin: 0px;
}
.news .news-content{
  max-width: 74%;
  position: relative;
  padding: 10px 20px;
}
.news .news-item h2 {
  padding: 30px 2px 0 4px;
  font-size: 24px;
}
.news .crypto-news p {
  display: block;
  padding-top: 18px;
  font-size: 17px;
  width: 80%;
}

.news .crypto-news .date {
  display: block;
  position: absolute;
  right: 10px;
  top: 0px;
  padding-top: 10px;
  font-size: 16px;
}

.crypto-news .paper-row {
  border: none;
  display: flex;

  justify-content: space-evenly;

}
.crypto-news .news-elem {
  width: 27%;
  height: 260px;
  padding: 0;
  // display: flex;
  overflow: hidden;
  // height: 100px;
  // padding: 0 39px;
}
.news-elem h4 {
  // margin: 2px 10px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.carousel .carousel-control-prev{
  width: 6%;
}
.carousel .carousel-control-next .carousel-control-next-icon, .carousel .carousel-control-prev .carousel-control-prev-icon{
  filter: invert(1);
}
.carousel .carousel-control-next{
  width: 6%;
}
@media only screen and (max-width: 641px) { 
    .crypto-news {
      display: flex;
      flex-direction: column;
  }
}