.loader{
    width: 100vw;
    height: 100vh;
    margin-top: 40vh;
    background: transparent;
    // background-image: url('../../Assets/loading.gif');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 200px 200px;
}