
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(41, 41, 41, 1);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #fff;
}

section{
  width: 1240px;
  margin: 20px auto;
  background: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px);
  border-radius: 10px;
}

.global-wrapper{
   
    padding: 10px 0;
    width: 100%;
    border: 1px solid rgb(239, 242, 245);

}
.global-data{
  margin: 0 auto;
  padding: 0 14px;
  width: 1240px;
  display: flex;
  justify-content: space-between;
}

.metric .label{
  margin-right: 10px;
  color: rgb(88, 102, 126)
}
.metric .result{
  color: rgb(56, 97, 251) 
}
/* Header */

header{
  width: 1240px;
  margin: 0 auto;
  padding: 10px 0 10px;
}
header .logo img{
  width: 80px;
  display: none;
} 
header .logo figure, footer figure{
 display: flex;
 align-items: center;
 font-size: 40px;
 font-weight: 700;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgb(239, 242, 245);
  border-bottom: 1px solid rgb(239, 242, 245);
  margin: 5px auto;
  padding: 20px 0;
}


header nav a {
  text-decoration:  none;
  font-size: 20px;
}
header nav a[data-dev=indev]::after {
  content: 'inDev';
  background-color: red;
  font-size: 15px;
  vertical-align: top;
  padding: 0 5px;
  margin-left: 11px;
  border-radius: 5px;
}

.toggle-nav{
  display: none;
}
.page-header{
  text-align: center;
  margin: 100px 0;
  letter-spacing: 2px;
  font-size: 30px;
  /* display: none; */
  min-height: 300px;
}
/* Logo */
#bitcoin{
  display:block;
  text-align:center;
  color:#888888;
  margin-right: 20px;
}

.path {
  stroke-dasharray: 2110;
  stroke-dashoffset: 2110;
  stroke-width:5;
  stroke-linecap:round;
  animation: dash 6s linear infinite;
  fill-opacity:0;
  stroke:orange;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2110;
    opacity:0;
    stroke:orange;
  }
  15%{
    opacity:1;
    stroke:orange;
  }
  70%{
    opacity:1;
    stroke:orange;
  }
  100%{
    stroke-dashoffset:0;
    opacity:0;
    stroke:yellow;
  }
}

/* News Feed */

.crypto-news{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.crypto-news a{
  text-decoration: none;
}
.news-item{
  max-width: 260px;
  padding: 5px;
}
.news-item .img {
   overflow: hidden;
    border-radius: 10px;
}
.news-item img {
  width: 100%;
  min-height: 167px;
  margin: -20px 0;
}
.news-item h2 {
  padding: 15px 2px 0 4px;
  font-size: 0.9em;
  text-align: justify;
}
/* Chart CSS */
.crypto-chart {
  box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px, rgba(88, 102, 126, 0.12) 0px 1px 2px;
  border-radius: 8px;
  padding: 14px 16px 17px;
}
.crypto-search {
  margin: 25px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.crypto-search h1 {
  margin-bottom: 32px;
  text-align: center;
}

.search-input {
  padding-left: 16px;
  width: 250px;
  height: 50px;
  border-radius: 4px;
  border: none;
  /* background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  ); */
  background-color: #a9a9a921;
  color: black;
  font-size: 19px;
}

.search-input::placeholder {
  color: black;
}

.chart-header .coin {
  min-width: 300px;
  justify-content: end;
  padding-right: 0;
}

.currency-container{
  display: flex;
  justify-content: center;
}
.chart-row h2{
  font-size: 20px;
    min-width: 50px;
    text-align: center;
}
.chart-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}
.chart-row.chart-header {
  font-size: 19px;
  justify-content: space-between;
}
.chart-row.chart-header p {
  font-weight: 700;
  letter-spacing: 1px;
}
.coin{
  display: flex;
  align-items:  center;
  padding-right: 20px;
  min-width: 270px;

}

.coin h2{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.coin img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.coin-symbol{
    text-transform: uppercase;
    padding: 0 10px;
}

.coin-data{
  display: flex;
  text-align: center;
  justify-content:  space-between;
  align-items: center;
}

.coin-price{
  width: 160px;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  padding-right: 20px;
  letter-spacing: 1.4px;
}
.coin-marketcap, .coin-volume, .circ-supply{
  opacity: 0.9;
}
.coin-volume{
  width: 160px;
  text-align: right;
}
.circ-supply{
  width: 240px;
  text-align: right;
  padding-right: 5px;
}

.coin-marketcap {
  width: 190px;
  letter-spacing: 1px;
}
.coin-percent{
    width: 100px;
    font-size: 18px;
}
p.coin-percent span {
  display: none;
}
.red{
    color: red;
}

.green{
    color: green;
}



/* Footer */
footer a{
  text-decoration: none;
  padding: 0 10px;
}
footer .footer-container{
  width: 1240px;
  margin: 0 auto;
}
footer {
  margin-top: 60px;
  padding-top: 54px;
  padding-bottom: 20px;
  background: linear-gradient(rgba(248, 250, 253, 0 ) 0%, rgb(248, 250, 253) 413px);
  color: rgb(234, 234, 234);
  width: 100%;
  position: relative;
}
footer .footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer figure{
  width: 350px;
  position: relative;
}
.site-info, .about-us{
  margin-bottom: 40px;
}
footer h4{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.site-info-links{
  padding: 0 0 20px 0;
  margin-right: 10px;
}
.site-info-links a{
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}
.site-info-links a:hover{
  text-decoration: underline;
  transition: 3s;
}

.about-us {
  display: flex;
  justify-content: space-between;
}
.about-us figcaption {
  font-size: 28px;
}
.about-content{
  margin-bottom: 20px;
  max-width: 440px;
}
.follow-us.links img{
  width: 44px;
}

