
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(41, 41, 41, 1);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #fff;
}

section{
  width: 1240px;
  margin: 20px auto;
  background: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px);
  border-radius: 10px;
}